# Pandas Exercises

Time to test your pandas skills! Use the csv file to complete the tasks in bold below!

** Import pandas and read in the banklist.csv file into a dataframe called banks. **

In [ ]:
import pandas as pd

In [3]:
banks = pd.read_csv('banklist.csv')

** Show the head of the dataframe **

In [4]:
# CODE HERE

In [5]:
banks.head()

,Bank Name,City,ST,CERT,Acquiring Institution,Closing Date,Updated Date
0,Fayette County Bank,Saint Elmo,IL,1802,"United Fidelity Bank, fsb",26-May-17,1-Jun-17
1,"Guaranty Bank, (d/b/a BestBank in Georgia & Mi...",Milwaukee,WI,30003,First-Citizens Bank & Trust Company,5-May-17,1-Jun-17
2,First NBC Bank,New Orleans,LA,58302,Whitney Bank,28-Apr-17,23-May-17
3,Proficio Bank,Cottonwood Heights,UT,35495,Cache Valley Bank,3-Mar-17,18-May-17
4,Seaway Bank and Trust Company,Chicago,IL,19328,State Bank of Texas,27-Jan-17,18-May-17

** What are the column names? **

In [6]:
# CODE HERE

In [7]:
names = banks.columns
print(names)

Index(['Bank Name', 'City', 'ST', 'CERT', 'Acquiring Institution',
       'Closing Date', 'Updated Date'],
      dtype='object')

** How many States (ST) are represented in this data set? **

In [8]:
# CODE HERE
banks['ST'].shape

(551,)

In [9]:
len_of_st = banks['ST']
print(len(len_of_st))

551

** Get a list or array of all the states in the data set. **

In [10]:
# CODE HERE
list_st = banks['ST'].tolist()
print(list_st)

['IL', 'WI', 'LA', 'UT', 'IL', 'NJ', 'AR', 'GA', 'PA', 'TN', 'WI', 'WA', 'GA', 'CO', 'IL', 'PR', 'GA', 'IL', 'FL', 'MN', 'CA', 'IL', 'MD', 'IL', 'GA', 'OK', 'FL', 'IL', 'MD', 'OH', 'IL', 'SC', 'PA', 'VA', 'ID', 'OK', 'IL', 'TX', 'FL', 'TX', 'CT', 'AZ', 'TN', 'WI', 'FL', 'TN', 'NV', 'WI', 'AZ', 'GA', 'NC', 'GA', 'NC', 'FL', 'FL', 'KY', 'AZ', 'GA', 'IL', 'MN', 'WA', 'MO', 'GA', 'IL', 'FL', 'PA', 'MO', 'FL', 'FL', 'IL', 'MO', 'MN', 'IL', 'GA', 'IL', 'KS', 'GA', 'GA', 'FL', 'MO', 'GA', 'TN', 'GA', 'FL', 'NC', 'IL', 'SC', 'OK', 'AL', 'FL', 'CA', 'SC', 'MN', 'MD', 'MD', 'NJ', 'MI', 'IL', 'GA', 'IL', 'GA', 'MN', 'GA', 'IN', 'IL', 'TN', 'MN', 'TN', 'FL', 'PA', 'GA', 'FL', 'AZ', 'FL', 'LA', 'IA', 'GA', 'UT', 'NE', 'IL', 'CO', 'GA', 'GA', 'FL', 'IL', 'NJ', 'NC', 'GA', 'MO', 'MN', 'TX', 'CA', 'VA', 'FL', 'GA', 'GA', 'IL', 'GA', 'FL', 'PA', 'KS', 'WA', 'IL', 'IN', 'SC', 'VA', 'CO', 'FL', 'FL', 'AZ', 'FL', 'GA', 'GA', 'CO', 'CO', 'IL', 'GA', 'FL', 'GA', 'SC', 'WA', 'WA', 'GA', 'GA', 'FL', 'MI', 'GA', 'GA', 'FL', 'FL', 'MS', 'MN', 'AL', 'AL', 'GA', 'GA', 'NV', 'IL', 'IL', 'WI', 'OK', 'IL', 'CA', 'CA', 'GA', 'GA', 'CA', 'WI', 'MI', 'FL', 'IL', 'GA', 'GA', 'NM', 'CO', 'WI', 'OK', 'CO', 'NC', 'SC', 'GA', 'GA', 'AZ', 'FL', 'MN', 'AR', 'GA', 'GA', 'GA', 'FL', 'PA', 'MI', 'WI', 'PA', 'FL', 'AZ', 'GA', 'GA', 'CA', 'WA', 'CA', 'MD', 'AZ', 'KS', 'IL', 'GA', 'GA', 'FL', 'FL', 'MO', 'MO', 'KS', 'WA', 'FL', 'WA', 'FL', 'WI', 'OH', 'GA', 'GA', 'GA', 'NJ', 'FL', 'CA', 'CA', 'CA', 'CA', 'IL', 'VA', 'FL', 'FL', 'IL', 'IL', 'OR', 'WA', 'FL', 'FL', 'GA', 'OR', 'NV', 'MN', 'KS', 'SC', 'GA', 'FL', 'MI', 'FL', 'FL', 'FL', 'SC', 'SC', 'OK', 'NY', 'MD', 'MD', 'NM', 'GA', 'FL', 'NV', 'WA', 'NE', 'IL', 'MS', 'NV', 'CA', 'FL', 'FL', 'FL', 'MN', 'IL', 'MO', 'MI', 'GA', 'CA', 'AZ', 'MN', 'FL', 'WA', 'MO', 'MO', 'MI', 'PR', 'PR', 'PR', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'IL', 'WA', 'CA', 'CA', 'MA', 'FL', 'FL', 'FL', 'MI', 'SC', 'AZ', 'GA', 'FL', 'GA', 'MN', 'AL', 'GA', 'GA', 'UT', 'GA', 'OH', 'LA', 'FL', 'NY', 'NY', 'UT', 'MD', 'IL', 'FL', 'WA', 'NV', 'CA', 'IL', 'TX', 'FL', 'MN', 'WA', 'CA', 'GA', 'MN', 'FL', 'GA', 'OR', 'WA', 'NM', 'MO', 'FL', 'UT', 'MN', 'IL', 'WA', 'CA', 'CA', 'IL', 'AL', 'MI', 'FL', 'GA', 'KS', 'AZ', 'FL', 'VA', 'IL', 'OH', 'GA', 'GA', 'GA', 'FL', 'CA', 'FL', 'FL', 'CA', 'MO', 'MN', 'MI', 'GA', 'TX', 'TX', 'TX', 'IL', 'CA', 'CA', 'CA', 'IL', 'AZ', 'IL', 'MN', 'WI', 'FL', 'FL', 'GA', 'FL', 'CA', 'CO', 'MN', 'MI', 'GA', 'KY', 'IN', 'WA', 'MN', 'IL', 'AZ', 'IL', 'IA', 'IL', 'MO', 'CA', 'MN', 'MD', 'TX', 'AL', 'GA', 'GA', 'NV', 'AZ', 'AZ', 'AL', 'PA', 'OR', 'FL', 'FL', 'IL', 'NJ', 'OH', 'FL', 'OK', 'GA', 'GA', 'GA', 'GA', 'GA', 'GA', 'NY', 'CA', 'CA', 'SD', 'GA', 'WY', 'IL', 'TX', 'IL', 'IL', 'IL', 'IL', 'IL', 'CA', 'CA', 'MN', 'GA', 'GA', 'KS', 'NC', 'GA', 'IL', 'IL', 'IL', 'FL', 'WA', 'UT', 'NJ', 'GA', 'ID', 'CA', 'MI', 'GA', 'NV', 'MO', 'CO', 'NC', 'GA', 'KS', 'CO', 'GA', 'GA', 'NV', 'IL', 'OR', 'OR', 'IL', 'FL', 'NE', 'CA', 'CA', 'GA', 'FL', 'MD', 'UT', 'CA', 'WA', 'IL', 'TX', 'GA', 'GA', 'CA', 'CA', 'GA', 'CA', 'TX', 'FL', 'GA', 'IL', 'MI', 'NV', 'WV', 'NV', 'GA', 'KS', 'FL', 'CA', 'NV', 'CA', 'MN', 'AR', 'MO', 'MO', 'OH', 'GA', 'PA', 'UT', 'NY', 'FL', 'NJ', 'PA', 'WI', 'CA', 'LA', 'TN', 'GA', 'CT', 'MI', 'FL', 'AZ', 'OH', 'TX', 'FL', 'IL', 'OH', 'NH', 'IL', 'HI']

In [11]:
uni_st = banks['ST'].unique()
print(uni_st)

['IL' 'WI' 'LA' 'UT' 'NJ' 'AR' 'GA' 'PA' 'TN' 'WA' 'CO' 'PR' 'FL' 'MN'
 'CA' 'MD' 'OK' 'OH' 'SC' 'VA' 'ID' 'TX' 'CT' 'AZ' 'NV' 'NC' 'KY' 'MO'
 'KS' 'AL' 'MI' 'IN' 'IA' 'NE' 'MS' 'NM' 'OR' 'NY' 'MA' 'SD' 'WY' 'WV'
 'NH' 'HI']

** What are the top 5 states with the most failed banks? **

In [12]:
# CODE HERE

In [39]:
faild_st = banks[banks['Acquiring Institution'].notnull()]
num_faild_st = faild_st['ST'].value_counts()
top5 = num_faild_st.head()
print(top5)

ST
GA    93
FL    75
IL    67
CA    41
MN    23
Name: count, dtype: int64

** What are the top 5 acquiring institutions? **

In [14]:
# CODE HERE

In [15]:
banks['Acquiring Institution'].head()

0              United Fidelity Bank, fsb
1    First-Citizens Bank & Trust Company
2                           Whitney Bank
3                      Cache Valley Bank
4                    State Bank of Texas
Name: Acquiring Institution, dtype: object

** How many banks has the State Bank of Texas acquired? How many of them were actually in Texas?**

In [16]:
# CODE HERE

In [17]:
total_texas_acq = banks[banks['Acquiring Institution'] == 'State Bank of Texas']
print(len(total_texas_acq))

3

In [24]:
total_actually_texas = total_texas_acq[total_texas_acq['ST'] == 'TX']
print(len(total_actually_texas))

1

** What is the most common city in California for a bank to fail in?**

In [18]:
# CODE HERE

In [34]:
fail_banks = banks[(banks['ST'] == 'CA') & (banks['Acquiring Institution'].notnull())]
comm_city_count = fail_banks['City'].value_counts()

most_common = comm_city_count.idxmax()
print(most_common)

Los Angeles

** How many failed banks don't have the word "Bank" in their name? **

In [19]:
# CODE HERE

In [38]:
faild_banks = banks[banks['Acquiring Institution'].notnull()]
not_have = fail_banks[~fail_banks['Bank Name'].str.contains('Bank', case= False , na= False)]
print(len(not_have))

1

** How many bank names start with the letter 's' ? **

In [20]:
# CODE HERE

In [45]:
start_with_s = banks[banks['Bank Name'].str.startswith('S' , na= False)]
count_start = start_with_s.shape[0]
print(count_start)

53

** How many CERT values are above 20000 ? **

In [21]:
# CODE HERE

In [48]:
value = banks[banks['CERT'] > 20000]
print(len(value))

417

** How many bank names consist of just two words? (e.g. "First Bank" , "Bank Georgia" )**

In [22]:
# CODE HERE

In [49]:
just_two_words = banks[banks['Bank Name'].apply(lambda x: len(x.split()) == 2)]
print(just_two_words.shape[0])

114

How many banks closed in the year 2008?

In [23]:
# CODE HERE

In [60]:
banks['Closing Date'] = pd.to_datetime(banks['Closing Date'],format='%d-%m-%y' , errors='coerce')
closed = banks[banks['Closing Date'].dt.year == 2008]
print(len(closed))

25

# GREAT JOB!